<footer>
    <div class="footer-one">
        <img src="/Img/logene1.jpg" alt="">
        <ul>
            <li>Điện Thoại: <span>+123.456.789</span></li>
            <li>Email: <span>volunteerqt123@gamil.com</span></li>
            <li>Địa Chỉ: <span>Cần thơ</span></li>
        </ul>
    </div>
    <div class="footer-two">
        <span>Về Chúng Tôi</span>
        <ul>
            <li>Giới Thiệu</li>
            <li>Cơ Hội Việc Làm</li>
            <li>Lộ Trình Học</li>
        </ul>
    </div>
    <div class="footer-three">
        <span>Hỗ Trợ</span>
        <ul>
            <li>Liên Hệ</li>
            <li>Bảo Mật</li>
            <li>Điều khoản</li>
        </ul>
</footer>
<div class="footers">
    <div class="footers-text">
        Designed By ThanhTri © 2022
    </div>
    <div class="footers-media">
        <a href="https://www.facebook.com/"><img src="/Img/fb.webp" alt=""></a>
        <a href=""><img src="/Img/email.png" alt=""></a>
    </div>
</div>